@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

#typingForm-outer-container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 300px;

  #text-prompt {
    text-align: center;
    color: #9ee493;
    span {
      font-family: "Prompt", sans-serif;
      font-size: 40px;
    }
  }

  #typing-form {
    position: fixed;
    top: 40%;
    width: 75%;
    height: 10%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
  }

  ::placeholder {
    color: #336699;
    opacity: 1;
  }
}

#summaryForm-outer-container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 300px;
  text-align: center;
  color: #9ee493;

  #summary-wpm {
    font-family: "Prompt", sans-serif;
    font-size: 40px;
  }
}
