@import '../../Constants/constants';

#typingForm-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;

  @media (max-width: 850px) {
    width: 80%;
  }

  #text-prompt {
    text-align: center;
    color: $themeGreen;
    margin-bottom: 25px;

    span {
      font-size: 30px;
      font-family: $mainFont;

      @media (max-width: 950px) {
        font-size: 20px;
      }
    }
  }

  #typing-form {
    width: 55%;
    height: 10%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 7px;
  }

  ::placeholder {
    color: $themeBlue;
    opacity: 1;
  }
}

#summaryForm-outer-container {
  text-align: center;
  color: $themeGreen;

  #summary-wpm {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
  }
}
