@import '../../Constants/constants.scss';

#leaderboard-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 800px;

  position: relative;
  bottom: 10%;

  @media (max-width: 850px) {
    width: 80%;
  }

  #leaderboard-select-container {
    display: flex;
    margin: 15px 0px 0px 0px;
    justify-content: center;
    font-family: $mainFont;
    background-color: $themeGreen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    #leaderboard-label {
      color: $themeBlue;
      margin: 10px 0px 0px 10px;
    }

    #leaderboard-select {
      font-family: $mainFont;
      outline: none;
      margin: 10px 0px 0px 10px;
    }
  }

  #leaderboard-table {
    font-family: $mainFont;
    width: 100%;
    color: $themeBlue;

    @media (max-width: 850px) {
      font-size: 12px;
    }

    #leaderboard-header-row {
      text-align: left;

      th {
        padding: 10px;
      }
    }

    #leaderboard-inner-row {
      padding: 5px;

      td {
        padding: 7px;
      }
    }
  }

  .isPrimaryColor-true {
    background-color: $themeGreen;
  }

  .isPrimaryColor-false {
    background-color: WHITE;
  }
}
