@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$themeGreen: #9ee493;
$themeBlue: #336699;
$themeLightBlue: #336699;

$mainFont: 'Prompt', sans-serif;
$mainHeaderFont: 'Work Sans', sans-serif;
