@import '../../Constants/constants';

#inner-restart-container {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #restart-image {
    background-image: url('../../Image/restart-green.png');
    width: 64px;
    height: 64px;
    margin-top: 25px;

    @media (max-height: 720px) {
      display: none;
    }
  }

  #restart-image:hover {
    background-image: url('../../Image/restart-white.png');
  }

  #restart-text {
    display: flex;
    align-items: center;
    color: WHITE;
    margin-top: 25px;

    @media (max-height: 630px) {
      display: none;
    }

    @media (max-width: 550px) {
      display: none;
    }

    #escape-key {
      @include key-highlight;
    }
  }
}
