@import '../../Constants/constants';

#restart-image {
  background-image: url('../../Image/restart-green.png');
  width: 64px;
  height: 64px;
  margin-top: 25px;
}

#restart-image:hover {
  background-image: url('../../Image/restart-white.png');
}

#restart-text {
  color: WHITE;
  margin-top: 25px;
}

key {
  font-family: 'Prompt', sans-serif;
  background-color: $themeGreen;
  color: $themeBlue;
  padding: 4px;
}
