@import '../../Constants/constants';

#keyboard-outer-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 30px;
  position: relative;

  @media (max-width: 850px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    display: none;
  }

  @media (max-height: 535px) {
    top: 7%;
  }
}

.key-row {
  display: flex;
  justify-content: center;
}

@mixin key {
  margin: 5px 5px 5px 5px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #9ee493;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  @media (max-width: 850px) {
    width: 30px;
    height: 30px;
  }
}

#Space {
  width: 200px;
}

.key-highlight-false {
  @include key;
  background-color: none;

  @media (max-width: 950px) {
    margin: 3px 3px 3px 3px;
  }
}

.key-highlight-true {
  @include key;
  background-color: $themeGreen;

  @media (max-width: 950px) {
    margin: 3px 3px 3px 3px;
  }
}

.key {
  font-family: $mainFont;
  font-size: 30px;
  color: $themeGreen;

  @media (max-width: 950px) {
    font-size: 20px;
  }
}
