@import '../../Constants/constants';

#keyboard-outer-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 30px;

  @media (max-width: 850px) {
    width: 80%;
  }
}

.key-row {
  display: flex;
  justify-content: center;
}

@mixin key {
  font-size: 40px;
  margin: 5px 5px 5px 5px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #9ee493;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

#Space {
  width: 200px;
}

.key-highlight-false {
  @include key;
  background-color: none;
}

.key-highlight-true {
  @include key;
  background-color: $themeGreen;
}

.key {
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
  color: $themeGreen;
}
