@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

#keyboard-outer-container {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 600px;
}

.key-row {
  display: flex;
  justify-content: center;
}

@mixin key {
  font-size: 40px;
  margin: 5px 5px 5px 5px;
  display: flex;
  color: black;
  border-radius: 5px;
  border: 1px solid #9ee493;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}

#Space {
  width: 200px;
}

.key-highlight-false {
  @include key;
  background-color: none;
}

.key-highlight-true {
  @include key;
  background-color: #9ee493;
}

.key {
  font-family: "Prompt", sans-serif;
  font-size: 30px;
  color: #9ee493;
}
