@import '../../Constants/constants';

#outer-nav-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;

  @media (max-height: 690px) {
    display: none;
  }

  img {
    width: 32px;
    height: 32px;
    margin: 25px 25px 25px 25px;
  }

  #leaderboard-nav-link {
    filter: invert(1);
  }

  #leaderboard-nav-link:hover {
  }

  #profile-nav-link {
  }

  #profile-nav-link:hover {
  }
}
